.form {
    height: 711px;
    width: 584px;
    margin-left: 26px;
    background-color: green;
}

.form input {
    width: 532px;
    height: 46px;
    margin-bottom: 16px;
    background-color: yellow;
    border-radius: 6px;
    border: white;
    opacity: 1;
}

.form form {
    margin-left: 26px;
}

.form h2 {
    margin-left: 26px;
    font-size: 16px;
    margin-top: 31px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 29px;
}

.form p {
    margin: 0 0 3px 0;
    font-size: 13px;
}

#root > div > div.flex > div.form > div > form > div > button {
    margin-left: 206px;
    width: 120px;
    height: 46px;
    color: white;
    border-radius: 6px;
    background-color: olivedrab;
}

#updateForm > form > div > button:nth-child(2), button:nth-child(1) {
    width: 120px;
    height: 46px;
    background-color: green;
    border-radius: 6px;
    color: white;
    font-size: 14px;
}

#updateForm form {
    margin-left: 26px;
}

#updateForm > form > div > button:nth-child(1) {
    background-color: deeppink;
    margin-right: 292px;
}

#root > div > div.flex > div.form > button {
    position: absolute;
    top: 211px;
    left: 1827px;
}


#hide {
    display: none;
}

#show > div:nth-child(1) > input[type=text]:nth-child(1) {
    position: absolute;
    left: 1100px;
    top: 50px;
    width: 200px;
    height: 46px;
    margin-bottom: 16px;
    background-color: floralwhite;
    border-radius: 6px;
    border: white;
    opacity: 1;
}

#show > div:nth-child(1) > input[type=text]:nth-child(2) {
    position: absolute;
    left: 1400px;
    top: 50px;
    width: 200px;
    height: 46px;
    margin-bottom: 16px;
    background-color: floralwhite;
    border-radius: 6px;
    border: white;
    opacity: 1;
}

#show > div:nth-child(2) > button {
    position: absolute;
    left: 1700px;
    top: 50px
}

#show.button {
    position: absolute;
    left: 1700px;
    top: 50px;
    width: 120px;
    height: 46px;
    background-color: dodgerblue;
    border-radius: 6px;
    color: white;
    font-size: 14px;

}

